.profile__edit-button {
    align-self: center;
    
    margin-left: 18px;
    margin-bottom: 10px;
    
    width: 25px;
    height: 25px;

    background-color: #000;
    
    background-image: url(../../../images/Edit-Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    cursor: pointer;
    border: none;
}

.profile__edit-button:hover {
    background-image: url(../../../images/Edit-Button-hover.svg);
}

.profile__edit-button:focus {
    outline: none;
}