.popup__container {
    outline: none;
    height: 330px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    
}