.profile__subtitle {
        
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    margin: 0;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 430px) {
    .profile__subtitle {
        font-weight: normal;
        font-size: 14px;
        
    }
}