.popup__input-error {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 13px;
    align-self: stretch;
    display: none;
}