.profile__add-button {
    min-width: 152px;
    height: 52px;
    margin-left: auto;
    background-image:  url(../../../images/Add-Button.svg);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.profile__add-button:hover {
    opacity: 0.6;
}

.profile__add-button:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        margin: 0;
        width: 100%;
    }
}