.profile__avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    object-fit: cover;
    

}

.profile__avatar:hover {
    opacity: .2;
    
}


@media screen and (max-width: 768px) {
    .profile__avatar {
        margin: 0;
    }
}

