.elements__like {
    cursor: pointer;
    border: none;
    background-color: white;
    
    background-image: url(../../../images/Like-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 20px;
}

.elements__like:hover {
    opacity: 0.5;
}

.elements__like:focus {
    outline: none;
}