.card__caption {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    align-items: center;
    align-content: center;
    background-color: white;
    padding-left: 15px;
    padding-right: 21px;
    box-sizing: border-box;
    
    
}