.card__delete {
    cursor: pointer;
    border: none;
    background-color: rgba(255,245,215,0);
    position: absolute;
    height: 19.300195693969727px;
    width: 18px;
    right: 15px;
    top: 18px;
    border-radius: 0px;
    padding: 0;
    background-image: url(../../../images/delete_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.card__delete:hover {
    opacity: 0.6;
}

.card__delete:focus {
    outline: none;
}